<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Todo List by GIQUE </title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/styles.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <section class="content">
            <h1>Error Page</h1>
            <h2>Please go to <a href="https://bit.ly/2rU3RCy">login</a>.</h2>
            <div class="col-md-8 col-md-offset-2">
                <div class="content-footer">
                    <p>
                        Todo list © - 2018 <br>
                        Powered By <a href="https://www.medium.com/@iamgique" target="_blank">iamGique</a>
                    </p>
                </div>
            </div>
        </section>
    </div>
</div>